---
- hosts: all
  become: true

  tasks:
    - name: Install aptitude
      apt:
        name: aptitude
        state: latest
        update_cache: true

    - name: Install required ssytem packages
      apt:
        pkg: 
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: latest
        update_cache: true

    - name: Add Docker's official GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repo to apt sources
      apt_repository: 
        repo: deb https://download.docker.com/linux/ubuntu "{{ ansible_distribution_release }}" stable 
        state: present

    - name: Update apt, install Docker Engine and Docker Compose
      apt:
        name: 
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: latest
        update-cache: true

    - name: Ensure Docker service enabled and started
      ansible.builtin.service:
        name: "{{ docker_service }}"
